<div class="tui-container">
    <form [formGroup]="authForm" (ngSubmit)="login()" class="form">
      <h2 class="title">Авторизация администратора</h2>
      <tui-input formControlName="login" class="input">
        Введите логин
        <input tuiTextfield type="login" />
      </tui-input>
      <tui-input formControlName="password" class="input">
        Введите пароль
        <input tuiTextfield type="password" />
      </tui-input>
      <button
        tuiButton
        type="submit"
        size="m"
        class="login"
      >
        Войти
      </button>
    </form>
  </div>
  