<div class="tui-container">
  <div class="icons">
    <div class=""></div>
    <tui-svg src="tuiIconLogoutLarge" class="logout" routerLink="/"></tui-svg>
  </div>
  <form [formGroup]="authForm" class="form">
    <h2 class="title">Административная панель</h2>
    <div class="block">
      <div class="block-input">
        <p>Просматривайте данные о пользователях</p>
        <tui-input formControlName="user" class="input">
          Введите имя или фамилию
          <input tuiTextfield type="text" />
        </tui-input>
      </div>
      <button
        tuiIconButton
        (click)="searchUsers()"
        iconRight="tuiIconSearch"
      ></button>
    </div>
    <div class="block">
      <div class="block-input">
        <p>Или отслеживайте состояние контейнера эко-пункта</p>
        <tui-input formControlName="trashCan" class="input">
          Введите адрес эко-пункта
          <input tuiTextfield type="text" />
        </tui-input>
      </div>
      <button
        tuiIconButton
        (click)="searchTrashCan()"
        iconRight="tuiIconSearch"
      ></button>
    </div>
  </form>
</div>
