<tui-loader *ngIf="loading" class="loader"> </tui-loader>
<div *ngIf="!loading">
<div class="tui-container" *ngIf="users$ | async as users">
  <div class="icons">
    <tui-svg
      src="tuiIconUndoLarge"
      class="back"
      routerLink="/admin/main"
    ></tui-svg>
    <tui-svg src="tuiIconLogoutLarge" class="logout" routerLink="/"></tui-svg>
  </div>
  <h2 *ngIf="route.params | async as params">
    Найденные пользователи по запросу '{{ params["filter"] }}'
  </h2>
  <div class="users" *ngFor="let user of users">
    <div class="user" (click)="getUser(user.id)">
      <tui-avatar
        *ngIf="!user.photoUrl"
        new
        class="icon-user-avatar"
        [rounded]="false"
        text="avatar"
        size="l"
        avatarUrl="tuiIconUser"
      ></tui-avatar>
      <tui-avatar
        *ngIf="user.photoUrl"
        new
        class="icon-user-avatar"
        [rounded]="false"
        text="avatar"
        size="l"
        [avatarUrl]="user.photoUrl"
      ></tui-avatar>
      <div class="">
        <h3>{{ user.firstName }} {{ user.lastName }} {{ user.patronymic }}</h3>
        <p>{{ user.address }}</p>
      </div>
    </div>
  </div>
</div>
</div>
