<div *ngIf="user$ | async as user" class="tui-container">
  <div class="user-info-block">
    <div class="avatar">
      <tui-avatar
        *ngIf="!user.pictureURL"
        new
        class="icon-user-avatar"
        [rounded]="false"
        text="avatar"
        size="xxl"
        avatarUrl="tuiIconUser"
      ></tui-avatar>
      <tui-avatar
        *ngIf="user.pictureURL"
        new
        class="icon-user-avatar"
        [rounded]="false"
        text="avatar"
        size="xxl"
        [avatarUrl]="user.pictureURL"
      ></tui-avatar>
    </div>

    <div class="user-info">
      <h2 class="name">
        {{ user.lastName }} {{ user.firstName }}
        {{ user.patronymic }}
      </h2>

      <div class="address">
        <p class="label">адрес</p>
        <p class="item">{{ user.address }}</p>
      </div>
      <div class="bonuses">
        <p class="label">Бонусы</p>
        <p class="item">{{ user.bonuses }}</p>
      </div>
    </div>
    <form [formGroup]="bonuses">
      <label tuiLabel="Введите количество списываемых бонусов">
        <tui-input-count
          formControlName="count"
          [tuiTextfieldLabelOutside]="true"
        ></tui-input-count>
      </label>
      <button tuiButton (click)="useBoneses()">Списать бонусы</button>
    </form>

    <button tuiButton (click)="openStory()">Показать журнал операций</button>
    <table class="tui-table" *ngIf="story$ | async as story">
      <tbody>
        <tr class="tui-table__tr tui-table__tr_border_none">
          <th class="tui-table__th">Дата и время</th>
          <th class="tui-table__th">Действие</th>
        </tr>
        <tr
          class="tui-table__tr tui-table__tr_border_none"
          *ngFor="let item of story"
        >
          <td class="tui-table__td">
            <time datetime="item.date"
              >{{ item.date.slice(0, 10) }} {{ item.date.slice(11, 16) }}</time
            >
          </td>
          <td class="tui-table__td">
            {{ item.operation }}
          </td>
        </tr>
      </tbody>
      <a (click)="closeStory()">скрыть журнал</a>
    </table>
  </div>
</div>
