/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/background.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 3%;
  /* background-color: #ebf2fa; */
}
.error-message {
  color: rgb(243, 57, 0);
  margin-top: 5px;
}
.icons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logout {
  justify-self: end;
  margin: 0 0 auto;
  width: 50px;
  display: block;
  color: #f84904;
  cursor: pointer;
}
.loader{
  background-color: #fff;
  width: 700px;
  padding: 200px 0;
  margin: 50px auto;
  border-radius: 20px;
}