<div class="tui-container">
  <div class="content">
    <div class="title-block">
      <h1 class="title">Умные эко-пункты для твердого бытового мусора</h1>
      <button tuiButton routerLink="/login-user">Войти</button>
    </div>

    <div class="blocks">
      <a routerLink="/login-admin" class="login-admin">Для администраторов</a>
      <div class="block block1">
        <h1>1</h1>
        <h2>Поместите твердый бытовой мусор в верхний отсек бака.</h2>
      </div>
      <div class="block">
        <h1>2</h1>
        <h2>
          Датчик распознает тип отхода, и пропустит в нижний отсек, если он
          верен
        </h2>
      </div>
      <div class="block">
        <h1>3</h1>
        <h2>
          В личном кабинете вам начислятся 1баллы, которыми можно оплачивать
          общественный транспорт, ЖКХ или интернет
        </h2>
      </div>
    </div>
  </div>
</div>
